* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.938);
}
/* -------------- Hero start -------------- */
#hero {
  /* background-color: rgb(168, 168, 168); */
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-hero {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-hero {
  position: relative;
  height: 57%;
  width: 80%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(18, 26, 255, 1) 0%,
    rgba(144, 155, 255, 1) 85%
  );
  color: white;
}
.hero-left {
  /* background-color: aqua; */
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 70%;
  /* background-color: red; */
}
.hero-text p {
  font-size: 16px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 100;
}
.hero-text h1 {
  font-size: 40px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
}
.hero-button-1,
.hero-button-2 {
  background-color: transparent;
  border: none;
  padding: 15px 20px;
  font-family: "Albert Sans", sans-serif;
  border-radius: 30px;
}
.hero-button-1 {
  background-color: #0a0b5d;
}
.hero-right img {
  position: absolute;
  height: 300px;
  bottom: 0%;
  right: 6%;
}
/* -------------------------------------- */
.main-links {
  /* background-color: red; */
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h2 {
  font-size: 17px;
  color: #0a0b5d;
}
.links-1,
.links-2,
.links-3,
.links-4 {
  display: flex;
  gap: 25px;
}
li {
  list-style: none;
  padding-bottom: 25px;
  font-family: "Albert Sans", sans-serif;
  font-weight: 300;
}
.subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscribe input {
  background-color: #e3edf9;
  border: none;
  outline: none;
  color: black;
  font-family: "Albert Sans", sans-serif;
  padding: 13px 60px 13px 20px;
  border-radius: 30px;
}
.subscribe button {
  background-color: #010bff;
  border: none;
  padding: 15px 20px;
  font-family: "Albert Sans", sans-serif;
  border-radius: 30px;
  color: white;
}
.sub-text2 {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.485);
}
/* -------------- Hero end -------------- */

/* -------------- Footer start -------------- */
#footer {
  height: 30vh;
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
}
.footer-main {
  width: 90%;
  /* background-color: blueviolet; */
}
.footer-top {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0a0b5d;
  border-top: 1px solid rgba(128, 128, 128, 0.308);
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.icon {
  font-size: 20px;
}
.footer-bottom {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extra-link {
  display: flex;
  gap: 15px;
  font-size: 13px;
}
.footer-bottom p {
  font-size: 13px;
  color: rgba(128, 128, 128, 0.859);
}
/* -------------- Footer end -------------- */
