:root {
  --red: #ff1849;
}
.f-m,
#top-bar {
  font-size: 13px;
}
.f-sm,
ul {
  font-size: 12px !important;
}
.nav-item a:hover {
  color: var(--red) !important;
}
#li-book:hover {
  color: white !important;
}
.w-90 {
  width: 90% !important;
}
.simple-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-theamcolor,
#top-bar {
  background-color: var(--red);
  transition: 0.2s;
}
.btn-theamcolor:hover {
  background-color: var(--red);
  transform: scale(0.9);
}
#hero1 {
  background-image: url("../img/hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-img-top {
  width: 120px;
}
#user-text {
  top: 110%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#card {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#teachers {
  margin: 13% 0;
}
#card::after,
#user-text::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: -8px;
  right: 30%;
  width: 40%;
  border-radius: 0px 0px 50px 50px;
  border-bottom: 8px solid var(--red);
}
#user-text::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: -5px;
  right: 20%;
  width: 60%;
  border-radius: 0px 0px 50px 50px;
  border-bottom: 4px solid var(--red);
}
#title-underline::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0px;
  left: 0px;
  border-bottom: 2px solid white;
}
#title-underline::before {
  content: "";
  position: absolute;
  width: 30px;
  bottom: -6px;
  left: 0px;
  border-bottom: 2px solid white;
}
.bg-custom-img {
  background-image: url("../img/flat-lay-colorful-pencils-arrangement.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.devid-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.475);
}
.bg-blue {
  background-color: #0b132b !important;
}
#dote {
  background-color: var(--red);
  border: 2px solid var(--red);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}
.card{
  border: none;
}
.carousel-indicators{
  bottom: -5% !important;
}
.rate::after{
  content: "$60";
  background-color: #0b132b;
  color: white;
  position: absolute;
  top: -25%;
  right: 10%;
  padding: 10px 13px 6px 10px;
  font-size: 20px;
  border-radius: 50% 50% 0% 0%;
}
.rate::before{
  content: "";
  position: absolute;
  bottom: 0%;
  right: -4%;
  height: 50%;
  border-right: 10px solid var(--red) ;
}